@using System.Threading
@model TheProblemSolver.Models.BlogItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        @DateTime.Now
        <br/>
        @DateTime.UtcNow
        <br/>
        @TimeZoneInfo.Local.DisplayName
        <br/>
        @Thread.CurrentThread.CurrentCulture.DisplayName
        <br/>
        @Thread.CurrentThread.CurrentCulture
        <br/>
        <br/>

    </div>
</body>
</html>
