<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - ABL The Problem Solver</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
</head>
<body>

    <div id="main">

        <!-- Header -->
        <div id="header">

            <h1 id="logo"><a href="./" title="[Go to homepage]"><span></span>ABL - The Problem Solver</a></h1>
            <hr class="noscreen" />

        </div>
        <!-- /header -->
        <!-- Tray -->
        <div id="tray">

            <ul class="box">
                <li><a href="#">@Html.ActionLink("Home", "Index", "Home")</a></li>
                <!-- Active page -->
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>

            <hr class="noscreen" />
        </div>
        <!-- /tray -->
        <!-- Columns -->
        <div id="cols" class="box">

            <!-- Content -->
            <div id="content">

                <div id="content-left">

                    @RenderSection("featured", required: false)

                    <hr class="noscreen" />

                    <div id="content-left-in">
                        @RenderBody()
                    </div>
                    <!-- /content-left-in -->

                </div>
                <!-- /content-left -->


                @if (IsSectionDefined("contentRight"))
                {
                    @RenderSection("contentRight")
                }
                else
                {
                    <hr class="noscreen" />
                    <div id="content-right">
                        <!-- News -->
                        @*                        <div class="box-01-top"></div>
                            <div class="box-01-top-b box">
                                <span class="f-left"><strong>Twitter</strong></span>
                            </div>*@
                        <!-- /box-01-top-b -->
                        @Html.Action("Index", "News")
                        <!-- /box-01 -->
                        @*                       <div class="box-01-bottom"></div>
                        *@
                    </div>
                    <!-- /content-right -->
                }
                <hr class="noscreen" />
            </div>
            <!-- /content -->
            <!-- Aside -->
            <div id="aside">
                <ul class="nav">
                    <li id="nav-active">
                        <a href="#">Publications</a>
                        <ul>
                            <li>@Html.ActionLink("Presentations", "Index", "Presentations")</li>
                            <li><a href="http://msmvps.com/blogs/theproblemsolver/" target="_blank">Blog</a></li>
                            <li><a href="http://dotned.nl/PodCasts.aspx" target="_blank">Podcasts</a></li>
                        </ul>
                    </li>
                    <li id="nav-active">
                        <a href="#">Courses</a>
                        <ul>
                            <li>@Html.ActionLink("Angular", "Angular", "Courses")</li>
                            <li>@Html.ActionLink("React", "React", "Courses")</li>
                            <li>@Html.ActionLink("TypeScript for React developers", "TypeScriptForReactDevelopers", "Courses")</li>
                        </ul>
                    <li id="nav-active">
                        <a href="#">The React Newsletter</a>
                        <ul>
                            <li>@Html.ActionLink("Subscribe", "Subscribe", "TheReactNewsletter")</li>
                            <li><a href="http://us4.campaign-archive2.com/home/?u=29c888baee9c05ccb614e1e92&id=aaae828db8" target="_blank">Archive</a></li>
                            <li>@Html.ActionLink("Reading List", "ReadingList", "TheReactNewsletter")</li>
                        </ul>
                    </li>
                    <li id="nav-active">
                        <a href="#">Other Web Sites</a>
                        <ul>
                            <li><a href="http://html5support.nl/" target="_blank">HTML5 Support</a></li>
                            <li><a href="http://dotnetevents.nl/" target="_blank">DotNetEvents</a></li>
                            <li><a href="http://windowsworkflowfoundation.eu/" target="_blank">Windows Workflow Foundation</a></li>
                        </ul>

                    </li>
                    <li id="nav-active">
                        <a href="#">Other links</a>
                        <ul>
                            <li><a href="http://www.linkedin.com/in/mauricedebeijer" target="_blank">Linkedin</a></li>
                            <li><a href="http://stackoverflow.com/users/19676" target="_blank">StackOverflow</a></li>
                            <li><a href="https://github.com/mauricedb" target="_blank">GitHub</a></li>
                            <li><a href="https://twitter.com/mauricedb" target="_blank">Twitter</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- RSS feeds -->
                <div class="padding">

                    <h4 class="margin">RSS feeds:</h4>

                    <p class="nom">
                        <a href="http://msmvps.com/blogs/theproblemsolver/rss.aspx" class="rss">Articles</a><br />
                    </p>

                    @*<h4 class="margin">Search:</h4>

                    <form action="#" method="get">
                        <div id="search" class="box">
                            <input type="text" size="20" id="search-input" /><input type="submit" id="search-submit" value="Search" />
                        </div>
                    </form>*@

                </div>
                <!-- /padding -->

                <hr class="noscreen" />
            </div>
            <!-- /aside -->

            <div id="aside-bottom"></div>

        </div>
        <!-- /cols -->
        <!-- Footer -->
        <div id="footer">
            <p>Copyright &copy;&nbsp;@DateTime.UtcNow.Year <strong><a href="http://www.TheProblemSolver.nl/">ABL - The Problem Sover</a></strong>, All Rights Reserved &reg;</p>
        </div>
        <!-- /footer -->
    </div>
    <!-- /main -->

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function () {
            $('a[href="' + location.pathname + '"]').closest('li').attr('id', 'tray-active');
        });
    </script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-262378-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script data-ad-client="ca-pub-1910262984484751" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
