<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ABL The Problem Solver</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <div id="main">

        <!-- Header -->
        <div id="header">

            <h1 id="logo"><a href="./" title="[Go to homepage]"><span></span>ABL - The Problem Solver</a></h1>
            <hr class="noscreen" />

        </div>
        <!-- /header -->

        <!-- Tray -->
        <div id="tray">

            <ul class="box">
                <li><a href="#">@Html.ActionLink("Home", "Index", "Home")</a></li>
                <!-- Active page -->
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>

            <hr class="noscreen" />
        </div>
        <!-- /tray -->

        <!-- Columns -->
        <div id="cols" class="box">

            <!-- Content -->
            <div id="content">

                <div id="content-left">

                    @RenderSection("featured", required: false)

                    <hr class="noscreen" />

                    <div id="content-left-in">
                        @RenderBody()
                    </div>
                    <!-- /content-left-in -->

                </div>
                <!-- /content-left -->


                @if (IsSectionDefined("contentRight"))
                {
                    @RenderSection("contentRight")
                }
                else
                { 
                    <hr class="noscreen" />
                    <div id="content-right">

                        @*                        <!-- Ads 125x125 -->
                        <div class="box">
                            <span class="f-right"><a href="#">
                                <img src="~/tmp/125x125.gif" width="125" height="125" alt="" /></a></span>
                            <span class="f-left"><a href="#">
                                <img src="~/tmp/125x125.gif" width="125" height="125" alt="" /></a></span>
                        </div>*@

                        <!-- News -->
                        <div class="box-01-top"></div>
                        <div class="box-01-top-b box">
                            <span class="f-right">Updated: 15.7.2008  15:34</span>
                            <span class="f-left"><strong>News</strong></span>
                        </div>
                        <!-- /box-01-top-b -->
                        <div class="box-01">

                            <dl class="news box">
                                <dt>SEP<br />
                                    <span>23</span></dt>
                                <dd><span>15:34</span><br />
                                    Lorem ipsum dolor sit, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quas posule accumsan, elita nunc eleifendel augue id uipera enim augue id eros.</dd>
                            </dl>

                            <div class="bg">
                                <dl class="news box">
                                    <dt>SEP<br />
                                        <span>23</span></dt>
                                    <dd><span>15:34</span><br />
                                        Lorem ipsum dolor sit, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quas posule accumsan, elita nunc eleifendel augue id uipera enim augue id eros.</dd>
                                </dl>
                            </div>
                            <!-- /bg -->

                            <dl class="news box">
                                <dt>SEP<br />
                                    <span>23</span></dt>
                                <dd><span>15:34</span><br />
                                    Lorem ipsum dolor sit, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quas posule accumsan, elita nunc eleifendel augue id uipera enim augue id eros.</dd>
                            </dl>

                            <div class="bg">
                                <dl class="news box">
                                    <dt>SEP<br />
                                        <span>23</span></dt>
                                    <dd><span>15:34</span><br />
                                        Lorem ipsum dolor sit, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quas posule accumsan, elita nunc eleifendel augue id uipera enim augue id eros.</dd>
                                </dl>
                            </div>
                            <!-- /bg -->

                            <dl class="news box">
                                <dt>SEP<br />
                                    <span>23</span></dt>
                                <dd><span>15:34</span><br />
                                    Lorem ipsum dolor sit, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quas posule accumsan, elita nunc eleifendel augue id uipera enim augue id eros.</dd>
                            </dl>

                            <div class="bg">
                                <dl class="news box">
                                    <dt>SEP<br />
                                        <span>23</span></dt>
                                    <dd><span>15:34</span><br />
                                        Lorem ipsum dolor sit, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quas posule accumsan, elita nunc eleifendel augue id uipera enim augue id eros.</dd>
                                </dl>
                            </div>
                            <!-- /bg -->

                            <dl class="news box">
                                <dt>SEP<br />
                                    <span>23</span></dt>
                                <dd><span>15:34</span><br />
                                    Lorem ipsum dolor sit, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quas posule accumsan, elita nunc eleifendel augue id uipera enim augue id eros.</dd>
                            </dl>

                        </div>
                        <!-- /box-01 -->
                        <div class="box-01-bottom"></div>

                        @*                        <!-- Most readed articles -->
                        <div class="box-02-top"></div>
                        <div class="box-02-top-b box">
                            <span class="f-left"><strong>Most readed articles</strong></span>
                        </div>
                        <!-- /box-02-top-b -->
                        <div class="box-02 box">

                            <ul class="mostreaded">
                                <li><span class="f-right">1925&times</span><a href="#">Lomem ipsum dolor sit amet</a></li>
                                <li><span class="f-right">1925&times</span><a href="#">Lomem ipsum dolor sit amet</a></li>
                                <li><span class="f-right">1925&times</span><a href="#">Lomem ipsum dolor sit amet</a></li>
                                <li><span class="f-right">1925&times</span><a href="#">Lomem ipsum dolor sit amet</a></li>
                                <li><span class="f-right">1925&times</span><a href="#">Lomem ipsum dolor sit amet</a></li>
                            </ul>

                        </div>
                        <!-- /box-02 -->
                        <div class="box-02-bottom"></div>*@

                    </div>
                    <!-- /content-right -->
                }
                <hr class="noscreen" />
            </div>
            <!-- /content -->


            <!-- Aside -->
            <div id="aside">

                <div id="aside-top"></div>

                <!-- Categories -->
                <div class="padding">
                    <h4 class="nom">Categories:</h4>
                </div>
                <!-- /padding -->

                <ul class="nav">
                    @*                    <li id="nav-active"><a href="#">Active category</a>
                        <!-- Active -->
                        <ul>
                            <li><a href="#">Subcategory</a></li>
                            <li><a href="#">Subcategory</a></li>
                            <li><a href="#">Subcategory</a></li>
                            <li><a href="#">Subcategory</a></li>
                            <li><a href="#">Subcategory</a></li>
                        </ul>
                    </li>*@
                    <li id="nav-active"><a href="#">Other Web Sites</a>
                        <ul>
                            <li><a href="http://html5support.nl/" target="_blank">HTML5 Support</a></li>
                            <li><a href="http://dotnetevents.nl/" target="_blank">DotNetEvents</a></li>
                            <li><a href="http://windowsworkflowfoundation.eu/" target="_blank">Windows Workflow Foundation</a></li>
                        </ul>

                    </li>
                    <li>@Html.ActionLink("Presentations", "Presentations", "Home")</li>
                    <li><a href="#">Some category</a></li>
                    <li><a href="#">Some category</a></li>
                    <li><a href="#">Some category</a></li>
                    <li><a href="#">Some category</a></li>
                    <li><a href="#">Some category</a></li>
                </ul>

                <!-- RSS feeds -->
                <div class="padding">

                    <h4 class="margin">RSS feeds:</h4>

                    <p class="nom">
                        <a href="http://msmvps.com/blogs/theproblemsolver/rss.aspx" class="rss">Articles</a><br />
                    </p>

                    <h4 class="margin">Search:</h4>

                    <form action="#" method="get">
                        <div id="search" class="box">
                            <input type="text" size="20" id="search-input" /><input type="submit" id="search-submit" value="Search" />
                        </div>
                        <!-- /search -->
                    </form>

                </div>
                <!-- /padding -->

                <hr class="noscreen" />
            </div>
            <!-- /aside -->

            <div id="aside-bottom"></div>

        </div>
        <!-- /cols -->

        <!-- Footer -->
        <div id="footer">

            <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
            <p class="f-right"><a href="http://www.nuviotemplates.com/">Free web templates</a> presented by <a href="http://www.qartin.cz/">QARTIN</a> &ndash; Our tip: <a href="http://last-minute.invia.sk" title="Last Minute">Last Minute</a> <a href="http://wycieczki.invia.pl" title="Wczasy">Wczasy</a></p>
            <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

            <p>Copyright &copy;&nbsp;@DateTime.UtcNow.Year <strong><a href="#">ABL - The Problem Sover</a></strong>, All Rights Reserved &reg;</p>

        </div>
        <!-- /footer -->

    </div>
    <!-- /main -->

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function () {
            $('a[href="' + location.pathname + '"]').closest('li').attr('id', 'tray-active');
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
